.form {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.formInput {
  background-color: rgb(144, 144, 184);
  border: none;
  width: 500px;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 20px;
  outline: none;
  color: #fff;
}

.formInput::placeholder {
  color: #fff;
}

.formButton {
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
  outline: none;
  background: rgb(144, 144, 184);
  border: none;
  transition: background 250ms ease-in-out;
}

.formButton:hover {
  background: rgb(52, 122, 122);
}
